h2{
  font-weight: bold;
  font-size: 30px;
}

.simon{
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: auto;
  .game{
    display: flex;
    justify-content: space-around;
  }
}

.controllers{
  .round{
    margin: 20px;
    font-weight: bold;
  }
  .radio-buttons{
    margin-top: 20px;
  }
  button{
    width: 200px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
  }
}

.buttons{
  display: flex;
  flex-direction: column;
  & > div{
    display: flex;
  }
  .mesure{
    width: 200px;
    height: 200px;
    margin: 2px;
  }
  .button1{
    box-sizing: border-box;
    border-top-left-radius: 100%;
    background-color: green;
    &:hover{
      cursor: pointer;
      border: 3px solid black;
    }
    &.active{
      background-color: lightgreen;
    }
  }
  .button2{
    box-sizing: border-box;
    border-top-right-radius: 100%;
    background-color: red;
    &:hover{
      cursor: pointer;
      border: 3px solid black;
    }
    &.active{
      background-color: lightcoral;
    }
  }
  .button3{
    box-sizing: border-box;
    border-bottom-left-radius: 100%;
    background-color: blue;
    &:hover{
      cursor: pointer;
      border: 3px solid black;
    }
    &.active{
      background-color: lightblue ;
    }
  }
  .button4{
    box-sizing: border-box;
    border-bottom-right-radius: 100%;
    background-color: yellow;
    &:hover{
      cursor: pointer;
      border: 3px solid black;
    }
    &.active{
      background-color: lightyellow;
    }
  }
}
